html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.main-page {
  background: linear-gradient(270deg, #a5deff 0%, #fcfeff 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  margin: 34px 0px 58px 0px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-text {
  margin: 0px 0px 0px 18px;
}
.banderoguse-container {
  background: #ffffff;
  padding: 60px 56px 60px 56px;
  align-self: center;
}
.banderoguse-greetings {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin: 0px 0px 16px 0px;
}
.banderoguse-start-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ff6b0a;
  margin: 0px 0px 48px 0px;
}
.banderoguse-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin: 0px 0px 24px 0px;
}
.banderoguse-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin: 0px 0px 48px 0px;
}
.banderoguse-launch {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  border: 0;
}
.main-page-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.banderguse-image {
  align-self: flex-end;
}
.guse-facts {
	padding: 52px 0px 72px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.guse-title {
	font-weight: 600;
	font-size: 48px;
	line-height: 100px;
	color: #1B1D1F;
	margin: 16px 0px 16px 0px;
}

.guse-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1B1D1F;
	text-align: center;
	width: 875px;
}
.guse-facts-container {
	display: flex;
	justify-content: space-between;
	width: 1170px;
}

.gus-fact-item {
	width: 33%;
}

.gus-fact-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #1B1D1F;
	margin: 12px 0px 32px 0px;
}

.guse-fact-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1B1D1F;
	width: 280px;
}
.victory-footer {
	display: flex;
	justify-content: center;
}

.victory-bgd {
	background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
	width: 1170px;
	padding: 72px 0px 72px 0px;
	margin: 0px 0px 72px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.victory-title {
	font-weight: 600;
	font-size: 48px;
	line-height: 100px;
	color: #1B1D1F;
	margin: 16px 0px 16px 0px;
}

.victory-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #1B1D1F;
	width: 875px;
}
.modal-bgd {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(27, 29, 31, 70%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}

.modal-form {
	background: #FFFFFF;
	padding: 32px 92px 60px 92px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.modal-form-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	color: #000000;
	margin: 32px 0px 12px 0px;
}

.modal-form-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin: 0px 0px 24px 0px;
}

.modal-form-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px 0px 16px 0px;
}

.modal-field-name {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin: 0px 0px 8px 0px;
}

.modal-field-input {
	border: 1px solid #005BBB;
	box-sizing: border-box;
	border-radius: 8px;
	height: 48px;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	padding: 4px 8px 4px 8px;
}

.modal-form-button {
	background: #ff6b0a;
	border-radius: 8px;
	padding: 12px 24px 12px 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	cursor: pointer;
	border: 0;
	margin: 24px 0px 0px 0px;
}
.close-button {
	position: absolute;
	right: 28px;
	top: 28px;
	font-size: 24px;
	color: #1B1D1F;
	cursor: pointer;
	border: 0;
	background: none;
}
.modal-description {
	margin: 0px 0px 0px 0px;
}
.modal-active{
	opacity: 1;
	pointer-events: all;
}
